<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="DatabaseServices" connectionString="Data Source=.;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=P1ssw0rd;Connection Timeout=300"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="scanbook.aspx" />
    </files>
  </defaultDocument>
</system.webServer>

</configuration>
